{% extends 'stripe.twig' %}

{% block stripecontent %}
  <h2>{{profile_name}}</h2>
  <div id="timelineContainer" class="clearfix">
  {% for event in timeline %}
    <dl class="timelineMinor">
      <dt id="{{ loop.index }}">
        <a>{{event.timestamp}}</a>
      </dt>
      <dd class="timelineEvent" id="{{ loop.index }}EX" style="display: none; ">
        {{profile_name}} {{event.message}}
      </dd>
    </dl>
  {% endfor %}
  </div>
  <script src="js/myury.timeline.js"></script>
  <script>$.timeliner({baseSpeed:400});</script>
{% endblock %}
  
{# http://www.technotarek.com/timeliner/ #}
