{% extends 'stripe.twig' %}
{% block stripecontent %}
<div id="profile">
{# @todo: put the user data into a nice format, implementation depends on sending in array or individual variables #}
    
  <table>
    <tr>
      <td><b>Name:</b></td>
      <td>{{user.fname}} {{user.sname}}</td>
    </tr>
    <tr>
      <td><b>Sex:</b></td>
      <td>
        {% if user.sex == 'm' %}
          Male
        {% elseif user.sex == 'f' %}
          Female
        {% else %}
          Unknown
        {% endif %}
      </td>
    </tr>
    {% if user.collegeid != 10 %}
      <tr>
        <td><b>College:</b></td>
        <td>{{user.college}}</td>
      </tr>
    {% endif %}
    {% if user.phone != '' %}
      <tr>
        <td><b>Phone:</b></td>
        <td>{{user.phone}}</td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    {% if user.eduroam != '' %}
      <tr>
        <td><b>Uni Account:</b></td>
        <td>{{user.eduroam}}</td>
      </tr>
    {% endif %}
    <tr>
      <td><b>Emails Go To:</b></td>
      <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
    </tr>
    {% if user.local_alias != '' %}
      <tr>
        <td><b>Official Email:</b></td>
        <td>{{user.local_alias}}</td>
      </tr>
    {% endif %}
    {% if user.local_name != '' %}
      <tr>
        <td><b>Server Account:</b></td>
        <td>{{user.local_name}}</td>
      </tr>
    {% endif %}
    <tr>
      <td><b>Receive Email:</b></td>
      <td>
        {% if user.receive_email %}
          Yes
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Account Locked:</b></td>
      <td>
        {% if user.account_locked %}
          Yes
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Last Login:</b></td>
      <td>
        {% if user.last_login %}
          {{ user.last_login|date("j/n/Y H:i:s") }}
        {% else %}
          Never
        {% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    {#<tr>
      <td valign="top"><b>Paid:</b></td>
      <td><?php 

        foreach ($x['years'] as $year => $amount) {
        if ($amount == '0.00') $amount = '--';
        if ($year == GetYear())
          print "$year: &pound;$amount<br>";
        else print "<i><span style=\"color:grey\">$year: &pound;$amount</span></i><br>";
      }
      ?></td>
    </tr>
    <?php 
    if (isset($x['officerships'])) {
      ?><tr><td colspan="2">&nbsp;</td></tr>
      <tr><td valign="top"><b>Officerships:</b></td><td><?php
        foreach ($x['officerships'] as $office) {
        if ($office['till_date'] == '')
          print "${office['officer_name']} (${office['from_date']} - present)<br>";
        else
          print "<i><span style=\"color:grey\">${office['officer_name']} (${office['from_date']} - ${office['till_date']})</span></i><br>";
      }
      ?></td></tr><?php
    }
    ?>#}
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><b>Training:</b></td>
      <td>
        <ul>
        {% for train in user.training %}
          <li>
            {% if train.presenterstatusid == 1 %}
              Studio Trained on {{ train.completeddate|date("j/n/Y") }}. <em>By {{ train.confirmedname }}</em>
            {% endif %}
            {% if train.presenterstatusid == 2 %}
              Passed Demo on {{ train.completeddate|date("j/n/Y") }}. <em>Assessed by {{ train.confirmedname }}</em>
            {% endif %}
            {% if train.presenterstatusid == 3 %}
              Became Trainer on {{ train.completeddate|date("j/n/Y") }}. <em>Approved by {{ train.confirmedname }}</em>
            {% endif %}
            {% if train.presenterstatusid == 10 %}
              Studio Training Revoked on {{ train.completeddate|date("j/n/Y") }}. <em>By {{ train.confirmedname }}</em>
            {% endif %}
            {% if train.presenterstatusid == 9 %}
              Demo Revoked on {{ train.completeddate|date("j/n/Y") }}. <em>By {{ train.confirmedname }}</em>
            {% endif %}
            {% if train.presenterstatusid == 11 %}
              Trainer Status Revoked on {{ train.completeddate|date("j/n/Y") }}. <em>By {{ train.confirmedname }}</em>
            {% endif %}
          </li>
        {% else %}
          <li>No Training Status Available</li>
        {% endfor %}
        </ul>
          {{ user.training }}
        </td>
    </tr>
  </table>
</div>
{% endblock %}