{% extends 'stripe.twig' %}
{% import 'macros.twig' as MyRadio %}

{% block stripecontent %}
    <h1>{{ event.Title() }}</h1>
    <h2>
        {{ event.StartTime() | date('d F y H:i') }}
        &mdash;
        {% if is_next_day(event.StartTime(), event.EndTime) %}
            {{ event.EndTime() | date('d F Y H:i') }}
        {% else %}
            {{ event.EndTime() | date('H:i') }}
        {% endif %}
    </h2>

    {% if event.canWeEdit() %}
        <a
                class="btn btn-primary"
                href="{{ MyRadio.makeURL(config, 'Events', 'editEvent', {eventid: event.ID()}) }}"
        >
            Edit Event
        </a>
    {% endif %}

    <p>Hosted by {{ event.Host().Name() }}</p>

    <p>
        {{ event.DescriptionHtml() | raw }}
    </p>
{% endblock %}

