<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{{ title }} | MyURY</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" href="//ury.york.ac.uk/portal/css/style.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <link type="text/css" href="//ury.york.ac.uk/portal/css/ury/jquery-ui-1.8.20.custom.css" rel="Stylesheet" />
      <link type="text/css" href="//ury.york.ac.uk/portal/css/jquery.ui.tooltip.css" rel="Stylesheet" />
      <link type="text/css" href="//ury.york.ac.uk/portal/css/jquery-ui-themeswitcher.css" rel="Stylesheet" />
      <!--<script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery-ui-1.8.20.custom.min.js"></script>-->
      <script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery-ui-git-190512.js"></script>
      <script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery-ui-themeswitcher.js"></script>
      <script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery-ui-init.js"></script>
    {% endblock %}
    </head>
    <body>
      <header id="bar">
        <span class="header-left"><a href="./">My<span class="r">((URY))</span></a> | {{serviceName}}</span>
        <span class="header-centre">{{ name }} - | - {{ timeslotname }}</span>
        <span class="header-right"><a href="https://ury.york.ac.uk/portal/redir_out.php">Logout</a> | <a href="../">Members Internal</a></span>
      </header>
      <div class="menu">
        <h1><span class="r">{{ title }}</span></h1>
{% block content %}{% endblock %}
{% block footer %}
      </div>
      <footer>
          <span class="header-left">Developed by <span class="r">((URY))</span> Computing 2011-2012.</span>
          <span class="header-right"><a href="http://ury.york.ac.uk/">ury.org.uk</a></span>
      </footer>
{% endblock %}
    </body>
  </html>