<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% include 'parts/base_head.twig' %}
    {% endblock %}
    </head>
    <body>
      <nav id="menu" class="transBG">
        <a id="miniLogo" href="./"><img alt="((ury))" height="20" src="/static/img/logo.png"></a>
        <span class="navRight">{{ name }}{{ impersonator }}{% if timeslotname is not null %} - <a href="https://ury.york.ac.uk/portal/timeslot.php?next={{ uri }}" title="Click to change timeslot">{{ timeslotname }}</a>{% endif %}</span>
        <ul>
          <li>{% if timeslotname is null %}<a href="https://ury.york.ac.uk/portal/timeslot.php?next={{ uri }}">Change Timeslot</a></li>
          <li>{% endif %}<a href="https://ury.york.ac.uk/portal/redir_out.php">Logout</a></li>
          <li><a href="http://ury.org.uk/">ury.org.uk</a></li>
        </ul>
      </nav>
        {% if phperrors is not null %}
          <ul class="php_error">
            {% for phperror in phperrors %}
              <li><strong>{{ phperror.name }}</strong> : {{ phperror.string|raw }} - In <strong>{{ phperror.file }}</strong> on line {{ phperror.line }}</li>
            {% endfor %}
                </ul>
        {% endif %}
{% block content %}{% endblock %}
{% block footer %}
              </div>
              <footer id="pageFooter" class="clearfix">
                <div id="copyright">
                  <p>&copy;1967-2013 University Radio York. Maintained by <a href="mailto:webmaster@ury.org.uk">URY Computing Team</a>
                  </div>
                </div>
                <ul>
                  <li><a href="http://www.york.ac.uk/docs/disclaimer/disclaimer.htm">Disclaimer</a></li>
                  <li><a href="http://ury.org.uk/contact/">Contact Us</a></li>
                </ul>
              </footer>
{% endblock %}
            </body>
          </html>