{% spaceless %}
{% import 'macros.twig' as myury %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% include 'parts/base_head.twig' %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{baseurl}}">MyRadio</a>
        </div>
        <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            {% if memberid %}
              <li><a href="{{myury.makeURL(config, 'MyRadio', 'logout')}}">Logout</a></li>
              <li>
                {% if timeslotname is null %}
                  <a href="{{myury.makeURL(config,'MyRadio', 'timeslot', {next: uri})}}">Pick Timeslot</a>
                {% else %}
                  <a href="{{myury.makeURL(config,'MyRadio', 'timeslot', {next: uri})}}" title="Click to change timeslot">{{ timeslotname }}</a>
                {% endif %}
              </li>
              <li><a href="{{myury.makeURL(config, 'Profile')}}">{{ name | raw }}</a></li>
            {% endif %}

            {% if impersonator %}
              <li>{{ impersonator | raw }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <div class="container main-container">
      {% if phperrors is not null %}
        <ul class="php_error">
          {% for phperror in phperrors %}
            <li><strong>{{ phperror.name }}</strong> : {{ phperror.string|raw }} - In <strong>{{ phperror.file }}</strong> on line {{ phperror.line }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    {% block footer %}
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              &copy;{{config.founded}}-{{"now"|date('Y')}} {{config.long_name}}. MyRadio by <a href="mailto:webmaster@ury.org.uk" title="{{query_count}}">URY Computing Team</a>
            </div>
            <div class="col-md-6 text-right">
              <a href="http://www.york.ac.uk/docs/disclaimer/disclaimer.htm">Disclaimer</a>
              &nbsp;<a href="http://ury.org.uk/contact/">Contact Us</a>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}

    {% block foot %}
    {% include 'parts/base_foot.twig' %}
    {% endblock %}

    {% if joyride %}
      {% include 'joyrides/base.twig' %}
      {% include 'joyrides/' ~ joyride ~ '.twig' %}
    {% endif %}
  </body>
</html>
{% endspaceless %}
