{% spaceless %}
{% import 'macros.twig' as MyRadio %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% include 'parts/base_head.twig' %}
    {% endblock %}
  </head>
  <body>
    {% include 'parts/nav.twig' %}
    <br>
    <div class="container main-container">
      {% if phperrors is not null %}
        <ul class="php_error">
          {% for phperror in phperrors %}
            <li><strong>{{ phperror.name }}</strong> : {{ phperror.string|raw }} - In <strong>{{ phperror.file }}</strong> on line {{ phperror.line }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% for notice in notices %}
        <div class="alert alert-{{notice.state}}"><span class="glyphicon glyphicon-{{notice.icon}}"></span>&nbsp;{{notice.message | raw}}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
    {% block footer %}
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              &copy;{{config.founded}}-{{"now"|date('Y')}} {{config.long_name}}. MyRadio by <a href="mailto:webmaster@{{ config.email_domain }}" title="{{query_count}}">URY Computing Team</a>
            </div>
            <div class="col-md-6 text-right">
              <a href="http://www.york.ac.uk/docs/disclaimer/disclaimer.htm">Disclaimer</a>
              &nbsp;<a href="http://ury.org.uk/contact/">Contact Us</a>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}

    {% block foot %}
    {% include 'parts/base_foot.twig' %}
    {% endblock %}

    {% if joyride %}
      {% include 'joyrides/base.twig' %}
      {% include 'joyrides/' ~ joyride ~ '.twig' %}
    {% endif %}
  </body>
</html>
{% endspaceless %}
