<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{{ title }} | MyURY</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <!--<script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery-ui-1.8.20.custom.min.js"></script>-->
      <script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery-ui-git-190512.js"></script>
      <script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery-ui-themeswitcher.js"></script>
      <script type="text/javascript" src="//ury.york.ac.uk/portal/js/jquery-ui-init.js"></script>
      <link rel="Stylesheet" type="text/css" href="//ury.york.ac.uk/portal/css/ury/jquery-ui-1.8.20.custom.css">
      <link rel="Stylesheet" type="text/css" href="//ury.york.ac.uk/portal/css/jquery.ui.tooltip.css">
      <link rel="Stylesheet" type="text/css" href="//ury.york.ac.uk/portal/css/jquery-ui-themeswitcher.css">
      <link rel="Stylesheet" type="text/css" href="//ury.york.ac.uk/portal/css/reset.css">
      <link rel="stylesheet" type="text/css" href="//ury.york.ac.uk/portal/css/style.css">
    {% endblock %}
    </head>
    <body>
      <header class="bar">
        <span class="fleft"><a href="./">My<span class="logotype">((URY))</span></a> | {{serviceName}} [{{serviceVersion}}]</span>
        <span>{{ name }} - [Impersonating If Set]{% if timeslotname is not null %} - <a href="https://ury.york.ac.uk/portal/timeslot.php?next={{ uri }}" title="Click to change timeslot">{{ timeslotname }}</a>{% endif %}</span>
        <span class="fright">{% if timeslotname is null %}<a href="https://ury.york.ac.uk/portal/timeslot.php?next={{ uri }}">Change Timeslot</a> | {% endif %}<a href="https://ury.york.ac.uk/portal/redir_out.php">Logout</a></span>
      </header>
      <div id="page">
        {% if phperror is not null %}<div class="php_error">{{ phperror }}</div>{% endif %}
        <h1 class="logotype">{{ title }}</h1>
{% block content %}{% endblock %}
{% block footer %}
      </div>
        <footer class="bar">
          <span class="fleft">Developed by <span class="logotype">((URY))</span> Computing 2011-2012.</span>
          <span class="fright"><a href="http://ury.org.uk/">ury.org.uk</a></span>
      </footer>
{% endblock %}
    </body>
  </html>