{% spaceless %}
{% import 'macros.twig' as myury %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% include 'parts/base_head.twig' %}
    {% endblock %}
    </head>
    <body>
      <nav id="menu" class="transBG">
        <a id="miniLogo" href="{{baseurl}}"><img alt="((ury))" height="20" src="/static/img/logo.png"></a>
        <ul>
          {{ version_header | raw }}
          <li><a href="http://ury.org.uk/">ury.org.uk</a></li>
          <li><a href="/portal/redir_out.php">Logout</a></li>
        </ul>
        <ul id="navRight">
          <li>{% if timeslotname is null %}<a href="/portal/timeslot.php?next={{ uri }}">Pick Timeslot</a>{% else %}<a href="/portal/timeslot.php?next={{ uri }}" title="Click to change timeslot">{{ timeslotname }}</a>{% endif %}</li>
          <li>{{ name }}{{ impersonator }}</li></ul>
      </nav>
        {% if phperrors is not null %}
          <ul class="php_error">
            {% for phperror in phperrors %}
              <li><strong>{{ phperror.name }}</strong> : {{ phperror.string|raw }} - In <strong>{{ phperror.file }}</strong> on line {{ phperror.line }}</li>
            {% endfor %}
                </ul>
        {% endif %}
{% block content %}{% endblock %}
{% block footer %}
              </div>
              <footer id="pageFooter" class="clearfix">
                <div id="copyright">
                  <p>&copy;1967-2013 University Radio York. Maintained by <a href="mailto:webmaster@ury.org.uk" title="{{query_count}} queries executed to load this page">URY Computing Team</a>
                  </div>
                </div>
                <ul>
                  <li><a href="http://www.york.ac.uk/docs/disclaimer/disclaimer.htm">Disclaimer</a></li>
                  <li>&nbsp;<a href="http://ury.org.uk/contact/">Contact Us</a></li>
                </ul>
              </footer>
{% endblock %}

{% block foot %}
{% include 'parts/base_foot.twig' %}
{% endblock %}

{% if joyride %}
{% include 'joyrides/base.twig' %}
{% include 'joyrides/' ~ joyride ~ '.twig' %}
{% endif %}
            </body>
          </html>
{% endspaceless %}