{% spaceless %}
{% import 'macros.twig' as MyRadio %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% include 'parts/base_head.twig' %}
    {% endblock %}
    </head>
    <body>
      <nav id="menu" class="transBG">
        <a id="miniLogo" href="{{baseurl}}">MyRadio</a>
        <ul>
          {% if memberid %}<li><a href="{{MyRadio.makeURL(config, 'MyRadio', 'logout')}}">Logout</a></li>{% endif %}
        </ul>
        <ul id="navRight">
          <li>{% if timeslotname is null and memberid %}<a href="{{MyRadio.makeURL(config,'MyRadio', 'timeslot', {next: uri})}}">Pick Timeslot</a>{% else %}<a href="{{MyRadio.makeURL(config,'MyRadio', 'timeslot', {next: uri})}}" title="Click to change timeslot">{{ timeslotname }}</a>{% endif %}</li>
          <li><a href="{{MyRadio.makeURL(config, 'Profile')}}">{{ name | raw }}</a></li>
          {% if impersonator %}<li>{{ impersonator | raw }}</li>{% endif %}
        </ul>
      </nav>
        {% if phperrors is not null %}
          <ul class="php_error">
            {% for phperror in phperrors %}
              <li><strong>{{ phperror.name }}</strong> : {{ phperror.string|raw }} - In <strong>{{ phperror.file }}</strong> on line {{ phperror.line }}</li>
            {% endfor %}
            {% for notice in notices %}
              <div class="ui-state-{{notice.state}}"><span class="ui-icon ui-icon-{{notice.icon}} fleft"></span>{{notice.message | raw}}</div>
            {% endfor %}
                </ul>
        {% endif %}
{% block content %}{% endblock %}
{% block footer %}
              </div>
              <footer id="pageFooter" class="clearfix">
                <div id="copyright">
                  <p>&copy;{{config.founded}}-{{"now"|date('Y')}} {{config.long_name}}. MyRadio by <a href="mailto:webmaster@ury.org.uk" title="{{query_count}}">URY Computing Team</a>
                  </div>
                </div>
                <ul>
                  <li><a href="http://www.york.ac.uk/docs/disclaimer/disclaimer.htm">Disclaimer</a></li>
                  <li>&nbsp;<a href="http://ury.org.uk/contact/">Contact Us</a></li>
                </ul>
              </footer>
{% endblock %}

{% block foot %}
{% include 'parts/base_foot.twig' %}
{% endblock %}

{% if joyride %}
{% include 'joyrides/base.twig' %}
{% include 'joyrides/' ~ joyride ~ '.twig' %}
{% endif %}
            </body>
          </html>
{% endspaceless %}
