{% spaceless %}
{% import 'macros.twig' as MyRadio %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% include 'parts/base_head.twig' %}
    {% endblock %}
  </head>
  <body{% if nonav == true %} class="nonav"{% endif %}>
    {% include 'parts/nav.twig' %}
    <br>
    <div class="container main-container">
      {% if phperrors is not null %}
        <ul class="php_error">
          {% for phperror in phperrors %}
            <li><strong>{{ phperror.name }}</strong> : {{ phperror.string|raw }} - In <strong>{{ phperror.file }}</strong> on line {{ phperror.line }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% for notice in notices %}
        <div class="alert alert-{{notice.state}}"><span class="glyphicon glyphicon-{{notice.icon}}"></span>&nbsp;{{notice.message | raw}}</div>
      {% endfor %}
      {% block content %}{% endblock %}
      {% if debug %}
        <div class="row">
          <h6>Cache Debug Log</h6>
          <button class="btn btn-link" data-toggle="collapse" data-target="#cacheDebug" aria-expanded="false" aria-controls="#cacheDebug">Toggle</button>
          <table class="collapse" id="cacheDebug">
            <thead>
            <tr>
              <th>Action</th>
              <th>Key(s)</th>
              <th>Value</th>
              <th>Expiry</th>
              <th>Result</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in cacheDebugLog %}
              <tr>
                <td>{{ entry.type }}</td>
                <td>{% if entry.keys %}{{ entry.keys|json_encode }}{% else %}{{ entry.key }}{% endif %}</td>
                <td>{{ entry.value|json_encode }}</td>
                <td>{{ entry.expires }}</td>
                <td>{{ entry.result|json_encode }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <h6>Pending Cache Writes</h6>
          <table>
            <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for debug in pendingCacheWrites %}
              <tr>
                <td>{{ debug.key }}</td>
                <td>{{ debug.value|json_encode }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
    {% block footer %}
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              &copy;{{config.founded}}-{{"now"|date('Y')}} {{config.long_name}}. MyRadio by <a href="mailto:webmaster@{{ config.email_domain }}" title="{{query_count}}">URY Computing Team</a>
            </div>
            <div class="col-md-6 text-right">
              <a href="http://www.york.ac.uk/docs/disclaimer/disclaimer.htm">Disclaimer</a>
              &nbsp;<a href="http://ury.org.uk/contact/">Contact Us</a>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}

    {% block foot %}
    {% include 'parts/base_foot.twig' %}
    {% endblock %}

    {% if joyride %}
      {% include 'joyrides/base.twig' %}
      {% include 'joyrides/' ~ joyride ~ '.twig' %}
    {% endif %}
  </body>
</html>
{% endspaceless %}
