{% extends 'stripe.twig' %}
{% block head %}
{{ parent() }}
{% include 'parts/table-header.twig' %}
{% endblock %}
{% block stripecontent %}
{% set myury_form_section_exists = false %}
{% set myury_form_file_progress = false %}
<fieldset class="{{frm_classes}}">
    <form action="{{frm_action | raw}}" method="{{frm_method}}" name="{{frm_name}}" id="{{frm_name}}" enctype="multipart/form-data">
    {% for field in frm_fields %}
      {% set display_labels = true %}
      {% set sfieldname = field.name %}
      {% if field.type != 16 and field.type != 22 %}
        <div id="{{frm_name}}-{{field.name}}-container" class="{{field.class}}-container">
      {% endif %}
          {% include ('FormFields/FieldType_'~field.type~'.twig') %}
      {% if field.type != 16 and field.type != 22 %}
        </div>
      {% endif %}
    {% endfor %}
      {% for field in redact %}
        <input type="hidden" name="redact[]" value="{{field}}" />
      {% endfor %}
        {% if captcha %}
        <div class="captcha">{{ captcha | raw }}</div>
        {% endif %}
        <input type="submit" id="{{frm_name}}-submit" value="Submit" />
    </form>
    <div class="myradiofrm-file-upload-progress"><div class="progress-label">Starting Upload...</div></div>
    <iframe class="ui-helper-hidden" id="myradiofrm-file-upload-iframe"></iframe>
</fieldset>
{% endblock %}

{% block foot %}
{{ parent() }}
{% include 'parts/table-footer.twig' %}
<script type="text/javascript" src="{{baseurl}}js/vendor/jquery-ui-timepicker.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/tinymce.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myury.form.js"></script>
{% endblock %}
