{% extends 'stripe.twig' %}
{% block stripecontent %}
<fieldset class="{{classes}}">
  <form action="{{action | raw}}" method="{{method}}" name="{{name}}" id="{{name}}">
    {% for field in fields %}
      <div id="{{name}}-{{field.name}}-container">
        {% include ('FormFields/FieldType_'~field.type~'.twig') %}
      </div>
    {% endfor %}
    </form>
  </fieldset>
{% endblock %}