{% extends 'stripe.twig' %}
{% block head %}
{{ parent() }}
<script type="text/javascript" src="{{shiburl}}js/jquery-ui-timepicker.js"></script>
<script type="text/javascript" src="{{shiburl}}js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myury.form.js"></script>
<script type="text/javascript" src="{{baseurl}}js/tinymce.min.js"></script>
{% endblock %}
{% block stripecontent %}
<fieldset class="{{frm_classes}}">
  <form action="{{frm_action | raw}}" method="{{frm_method}}" name="{{frm_name}}" id="{{frm_name}}" enctype="multipart/form-data">
    {% for field in frm_fields %}
      {% set display_labels = true %}
      {% if field.repeating %}{% set sfieldname = field.name ~ '[]' %}{% else %}{% set sfieldname = field.name %}{% endif %}
      <div id="{{frm_name}}-{{field.name}}-container" class="{{field.class}}">
        {% include ('FormFields/FieldType_'~field.type~'.twig') %}
          {% if field.repeating %}
          <div class="formfield-add-link"><a href="javascript:" id="{{frm_name}}-{{field.name}}-repeater">Add another...</a></div>
          <input type="hidden" id="{{frm_name}}-{{field.name}}-counter" value="0" />
          {% endif %}
        </div>
      {% if myury_form_section_exists is defined %}
        </div>
      {% endif %}
    {% endfor %}
        <input type="submit" value="Submit" />
      </form>
    </fieldset>
{% endblock %}