{% extends 'stripe.twig' %}
{% block head %}
{{ parent() }}
{% include 'parts/table-header.twig' %}
<link type="text/css" rel="stylesheet" src="{{baseurl}}css/vendor/bootstrap-datetimepicker.css">
{% endblock %}
{% block stripecontent %}
{% set myradio_form_section_exists = false %}
{% set myradio_form_file_progress = false %}
<fieldset class="{{frm_classes}}">
    <form action="{{frm_action | raw}}" method="{{frm_method}}" name="{{frm_name}}" id="{{frm_name}}" enctype="multipart/form-data">
    {% for field in frm_fields %}
      {% set display_labels = true %}
      {% set sfieldname = field.name %}
      {% if field.type != 16 and field.type != 22 %}
        <div id="{{frm_name}}-{{field.name}}-container" class="{{field.class}}-container">
      {% endif %}
          {% include ('FormFields/FieldType_'~field.type~'.twig') %}
      {% if field.type != 16 and field.type != 22 %}
        </div>
      {% endif %}
    {% endfor %}
      {% for field in redact %}
        <input type="hidden" name="redact[]" value="{{field}}" />
      {% endfor %}
        {% if captcha %}
        <div class="captcha">{{ captcha | raw }}</div>
        {% endif %}
        <input type="submit" class="btn btn-primary" id="{{frm_name}}-submit" value="Submit" />
    </form>
    <div class="myradiofrm-file-upload-progress"><div class="progress-label">Starting Upload...</div></div>
    <iframe class="hidden" id="myradiofrm-file-upload-iframe"></iframe>
</fieldset>
{% endblock %}

{% block foot %}
{{ parent() }}
{% include 'parts/table-footer.twig' %}
<script type="text/javascript" src="{{baseurl}}js/vendor/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myradio.form.js"></script>
{% if react is defined %}
    <script type="importmap">
    {
        "imports": {
            "htm": "{{baseurl}}js/vendor/htm.min.js",
            "preact": "{{baseurl}}js/vendor/preact.module.js"
        }
    }
    </script>
    <script async src="{{baseurl}}js/vendor/es-module-shims.min.js"></script>
    {# We can't instantiate the component until after the importmap, hence we have to do it now #}
    {% for type, fields in react %}
        <script type="module">
          import { render, h } from "preact";
          import {{ type }} from "{{baseurl}}js/myradio.form.react.{{ type | lower }}.js";
          $(function() {
            {% for field in fields %}
                render(h(
                  {{ type }},
                  {
                    initialValue: {{ field.value | json_encode }}
                  }
                ));
            {% endfor %}
          });
        </script>
    {% endfor %}
{% endif %}
{% endblock %}
