{% extends 'base.twig' %}
{% block content %}
<div id="content-stripe" class="clearfix">
  {% for notice in notices %}
    <div class="ui-state-{{notice.state}}"><span class="ui-icon ui-icon-{{notice.icon}} fleft"></span>{{notice.message}}</div>
  {% endfor %}
  {% block stripecontent %}{% endblock %}
    <menu id="stripe-module-submenu" style="width: 200px; height: auto; border: 1px solid #000; border-radius: 5px; float: right">
    {% for item in submenu %}
        <li><a href="{{item.url}}" title="{{item.title}}">{{item.value}}</a></li>
    {% endfor %}
      </menu>
    </div>
{% endblock %}