{#
This extends table.twig by adding a Start and End time select Form. This gets sent back to the server as GET parameters
rangesel-starttime and rangesel-endtime. Passing starttime and endtime as values to the Template fills in the input
values.

This also adds shortcut links for "Last Day", "Last Week", "Last Fortnight", "Last Month" and "Last Term".

@TODO: Last Term is currently -70 days. This could be more precise.
#}{% extends 'table.twig' %}

{% block stripecontent %}
<fieldset class="myuryfrm">
  <div>
    <a href="javascript:void()" id="shortcut-lastday">Last Day</a> |
    <a href="javascript:void()" id="shortcut-lastweek">Last Week</a> |
    <a href="javascript:void()" id="shortcut-lastfortnight">Last Fortnight</a> |
    <a href="javascript:void()" id="shortcut-lastmonth">Last Month</a>
  </div>
  <form method="GET" action="{{ uri }}" id="timeselfrm">
{% set frm_name = 'rangesel' %}
{% set field = {'name': 'starttime', 'label': 'From Time', 'value' : null, 'enabled': true, 'explanation': '',
  'required': false, 'value': starttime} %}
{% set sfieldname = field.name %}
{% include ('FormFields/FieldType_4.twig') %}
{% set field = {'name': 'endtime', 'label': 'To Time', 'value' : null, 'enabled': true, 'explanation': '',
  'required': false, 'value': endtime} %}
{% set sfieldname = field.name %}
{% include ('FormFields/FieldType_4.twig') %}
      <input type="submit" value="Update" />
    </form>
  </fieldset>
{{ parent() }}
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myury.form.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myury.table_timeinput.js"></script>
{% endblock %}
