{% extends 'form.twig' %}
{% import 'macros.twig' as MyRadio %}
{% block head %}
{{ parent() }}
{% include 'parts/table-header.twig' %}
{% endblock %}
{% block stripecontent %}
<p>This page allows you to programmatically control permission requirements to perform an Action. A user must have one
  or more of the permissions matching an Action in order to perform it. An Action must have at least one permission
  field defined (even if it's an allow all) to ensure the developer has put security in place.</p>
<p>This programmatic method is not a complete replacement as it will not handle inline permissions.</p>
<p><a href="{{MyRadio.makeURL(config, 'MyRadio', 'listPermissions')}}">Click here to manage available permissions.</a></p>
{{ parent() }}
{% set tabledata = frm_custom.tabledata %}
{% include 'parts/table-content.twig' %}
{% endblock %}
{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/{{frm_custom.tablescript}}.js"></script>
{% endblock %}
