{% extends 'stripe.twig' %}
{% import 'macros.twig' as MyRadio %}

{% block stripecontent %}

<div class="col-md-6">
<table>
<tr>
<td><button>Get Training</button></td>
<td><button>Apply for a New Show</button></td>
<td><button>Change/Cancel a Show</button></td>
</tr><tr>
<td><button>Podcast Manager</button></td>
<td><button>Studio Information Service</button></td>
<td><button>WebStudio</button></td>
</tr>
</table>

</div>
<div class="col-md-6">
{% if events %}
  <div class="row">
    <!--<div class="well col-md-12 events">-->

      <h3>Upcoming Events</h3>
      <ul class="list-group">
        {% for event in events %}
          <li>
            <span>
              <a
                href="{{MyRadio.makeURL(config, 'Events', 'viewEvent', {eventid: event.ID()})}}"
              >
              {{ event.Title() }}
              </a> |
              {{ event.StartTime() | date('d F Y H:i') }}
              &mdash;
              {% if is_next_day(event.StartTime(), event.EndTime) %}
                {{ event.EndTime() | date('d F Y H:i') }}
              {% else %}
                {{ event.EndTime() | date('H:i') }}
              {% endif %}
            </span>
          </li>
        {% endfor %}
      </ul>
<!--    </div>-->
  </div>
{% endif %}
</div>

{% for column in menu %}
<div class="col-md-4">
  <h2>{{ column.title }}</h2>
    {% for section in column.sections %}
  <h3 class="section">{{ section.title }}</h3>
  <ul>
    {% for item in section.items %}
      {% if item.template is not same as(null) %}
      {% include item.template %}
      {% else %}
      <li><a 
        href="{{ item.url }}{{ '?' in item.url ? '&' : '?' }}ref={{ item.title | e('url') }}"  
        {% if config.base_url not in item.url %}
          target="_blank" 
        {% endif %} 
        title="{{ item.description | replace({'"': '&quot;'}) | raw }}"
        >
        {{ item.title }}&nbsp;
        {% if config.base_url not in item.url %}
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> 
        {% endif %} 
        </a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myradio.menu.js"></script>
{% if news_clickthrough %}
<script type="text/javascript">
var news={{news|json_encode()|raw}};
</script>
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myradio.news.clickthrough.js"></script>
{% endif %}
{% endblock %}
