{% extends 'stripe.twig' %}

{% block stripecontent %}
<div class="myury-news-alert ui-widget-content ui-corner-all" title="Latest News" id="newsentry-{{news.newsentryid}}">
  {{news.content | raw}}
    <footer><author>{{news.author}}</author> on {{news.posted}}</footer>
</div>
{% for column in menu %}
<div class="menu-column">
  <h2>{{ column.title }}</h2>
    {% for section in column.sections %}
  <h3 class="section">{{ section.title }}</h3>
  <ul>
    {% for item in section.items %}
      {% if item.template is not sameas(null) %}
      {% include item.template %}
      {% else %}
      <li><a href="{{ item.url }}" title="{{ item.description | replace({'"': '&quot;'}) | raw }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myury.menu.js"></script>
{% if news_clickthrough %}
<script type="text/javascript" src="{{baseurl}}js/myury.news.clickthrough.js"></script>
{% endif %}
{% endblock %}