{% extends 'stripe.twig' %}

{% block stripecontent %}
{% for column in menu %}
<div class="col-md-4">
  <h2>{{ column.title }}</h2>
    {% for section in column.sections %}
  <h3 class="section">{{ section.title }}</h3>
  <ul>
    {% for item in section.items %}
      {% if item.template is not same as(null) %}
      {% include item.template %}
      {% else %}
      <li><a href="{{ item.url }}" target="_blank" title="{{ item.description | replace({'"': '&quot;'}) | raw }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myradio.menu.js"></script>
{% if news_clickthrough %}
<script type="text/javascript">
var news={{news|json_encode()|raw}};
</script>
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myradio.news.clickthrough.js"></script>
{% endif %}
{% endblock %}
