{% extends 'stripe.twig' %}
{% import 'macros.twig' as MyRadio %}

{% block stripecontent %}

{% if events %}
  <div class="row">
    <div class="well col-md-12 events">
      <h2>Upcoming Events</h2>
      <ul class="list-group events-list">
        {% for event in events %}
          <li class="list-group-item event">
            <h3>
              <a
                href="{{MyRadio.makeURL(config, 'Events', 'viewEvent', {eventid: event.ID()})}}"
              >
              {{ event.Title() }}
              </a>
            </h3>
            <p>
              {{ event.StartTime() | date('d F Y H:i') }}
              &mdash;
              {% if is_next_day(event.StartTime(), event.EndTime) %}
                {{ event.EndTime() | date('d F Y H:i') }}
              {% else %}
                {{ event.EndTime() | date('H:i') }}
              {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% for column in menu %}
<div class="col-md-4">
  <h2>{{ column.title }}</h2>
    {% for section in column.sections %}
  <h3 class="section">{{ section.title }}</h3>
  <ul>
    {% for item in section.items %}
      {% if item.template is not same as(null) %}
      {% include item.template %}
      {% else %}
      <li><a href="{{ item.url }}{{ '?' in item.url ? '&' : '?' }}ref={{ item.title | e('url') }}" target="_blank" title="{{ item.description | replace({'"': '&quot;'}) | raw }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myradio.menu.js"></script>
{% if news_clickthrough %}
<script type="text/javascript">
var news={{news|json_encode()|raw}};
</script>
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myradio.news.clickthrough.js"></script>
{% endif %}
{% endblock %}
