{% extends 'stripe.twig' %}

{% block stripecontent %}
{% for column in menu %}
<div class="col-md-4">
  <h2>{{ column.title }}</h2>
    {% for section in column.sections %}
  <h3 class="section">{{ section.title }}</h3>
  <ul>
    {% for item in section.items %}
      {% if item.template is not same as(null) %}
      {% include item.template %}
      {% else %}
      <li><a href="{{ item.url }}" title="{{ item.description | replace({'"': '&quot;'}) | raw }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}
{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myradio.menu.js"></script>
{% if news_clickthrough %}
<script type="text/javascript">
var news = {{news|json_encode()|raw}};
</script>
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myradio.news.clickthrough.js"></script>
{% endif %}

{# GDPR Modal lives on this page now. #}
{% if gdpr_accepted == false %}
  <script type="text/javascript" src="{{baseurl}}js/myradio.menu.gdprmodal.js"></script>
<div id="gdprModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3 id="myModalLabel">GDPR Stuff</h3>
      </div>
      <div class="modal-body">
          <p>One fine body…</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a>exercitation ullamco laboris nisi ut</a> aliquip ex ea commodo consequat.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Leave Site</button>
        <a href="{{baseurl}}MyRadio/acceptGDPR">
          <button class="btn btn-primary">Accept Terms</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
