{% extends 'stripe.twig' %}

{% block stripecontent %}
<a href="{{myury.makeURL(config, "MyRadio", "listPermissions")}}">&larr; Back to permissions list</a>
{% if usage[0] %}
<p>This permission flag is used by the following MyRadio Actions:</p>
<ul>
    {% for i in usage[0] %}
    <li><a href="{{myury.makeURL(config, i.module, i.action)}}">{{i.module}}/{{i.action}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>This permission flag is not automatically used by any MyRadio Actions.</p>
{% endif %}

{% if usage[1] %}
<p>This permission flag is used by the following MyRadio API Endpoints:</p>
<ul>
    {% for i in usage[1] %}
    <li><a href="{{config['api_url'] ~ '/rtfm/#!/' ~ i.api_name}}">{{i.api_name}}/{{i.method_name}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>This permission flag is not automatically used by any MyRadio Actions.</p>
{% endif %}
{% endblock %}
