{% extends 'stripe.twig' %}
{% import 'macros.twig' as MyRadio %}
{% block head %}
{{ parent() }}
<style type='text/css'>
    .timeslot select {
        width: 33%;
    }
</style>
{% endblock %}
{% block stripecontent %}
<p>Pick an episode below to work with it. If it's time for your show to be on air,
    please also tick the sign in boxes to register your presenters.</p>
{% if allTimeslots == 'on' %}
<p>
    You are currently listing <strong>all</strong> shows.
    <a href="{{MyRadio.makeURL(config, 'MyRadio', 'timeslot', {next: next})}}">
        Click here to only see your shows</a>.
</p>
{% elseif allTimeslots == 'off' %}
<p>
    You are currently listing <strong>your</strong> shows.
    <a href="{{MyRadio.makeURL(config, 'MyRadio', 'timeslot', {next: next, all: true})}}">
        Click here to see all shows</a>.
</p>
{% endif %}
{% if allTimeslots != 'unavailable' and currentAvaliable %}
<p>
    <a href="{{MyRadio.makeURL(config, 'MyRadio', 'timeslot', {next: next, current: true})}}">
        Click here to load the current show</a>.
</p>
{% endif %}
<hr />
{% if timeslots is empty %}
<p>
    <strong>
        You haven't got any timeslots, you need to schedule your show first! To do this, go to
        the <a href="{{MyRadio.makeURL(config, 'Scheduler', 'editShow')}}" title="Create a show">Create New Show</a> page.
    </strong>
</p>
{% else %}
<form action='{{MyRadio.makeURL(config,"MyRadio","timeslot")}}' method='post'>
    <fieldset class="timeslot">
        <select id="shows" size="20">
            {% for show in timeslots|keys %}
            <option value='{{show}}'>{{show}}</option>
            {% endfor %}
        </select>
        <select id='seasons' size='20'></select>
        <select id='timeslots' name="timeslotid" size='20'></select>
        <input type='hidden' name='next' value='{{next}}' />
    </fieldset>
    <fieldset id="signin-list">

    </fieldset>
    <input type="submit" id="signin-submit" value="Continue" class="btn btn-primary hidden" />
</form>
{% endif %}
{% endblock %}
{% block foot %}
{{ parent() }}
<script type='text/javascript'>
    window.myradio.showdata = {{timeslots|json_encode|raw}};
    window.myradio.locations = {{locations|json_encode|raw}};
</script>
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type='text/javascript' src='{{baseurl}}js/myradio.timeslot.js'></script>
{% endblock %}
