{% extends 'stripe.twig' %}
{% block stripecontent %}
<div class="ui-widget">
  <div class="ui-widget-header">Please read these tips first!</div>
  <div class="ui-widget-content">
    <ul>
      <li>The proposals are generated automatically by our servers by analysing the MP3 files.</li>
      <li>Accepting a proposal replace the existing data (on the left) with the proposed data (on the right).</li>
      <li>If a proposal suggests "URY Downloads {{date("Y")}}" the proposed album will not overwrite the existing.</li>
    </ul>
  </div>
</div>
<table style="width:100%">
  <thead>
    <tr><th>Field</th><th>Original Data</th><th>Proposed Data</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>Title</td><td>{{correction.title}}</td><td>{{correction.proposed_title}}</td>
    </tr>
    <tr>
      <td>Artist</td><td>{{correction.artist}}</td><td>{{correction.proposed_artist}}</td>
    </tr>
    <tr>
      <td>Album</td><td>{{correction.album.title}} (ID: {{correction.album.recordid}})</td><td>{{correction.proposed_album}}</td>
    </tr>
    <tr>
      <th>Reliability</th><th>{% if correction.state == 1 %}Recommended{% else %}Unsure{% endif %}</th>
    </tr>
    <tr>
      <td>Track</td><td><audio id="trackcorrect_fpreview" src="#" controls>You need HTML5, silly!</audio></td>
    </tr>
    <tr>
      <td colspan="3"><a href="{{correction.confirmlink.url}}">Approve</a> | 
      <a href="{{correction.confirmlink.url}}&ignorealbum=true">Approve (Ignoring Album)</a> | 
      <a href="{{correction.rejectlink.url}}">Reject</a> | 
      <a href="{{correction.rejectlink.url}}&permanent=true">Reject and Confirm Current Metadata</a> | 
      <a href="{{correction.editlink.url}}">Edit Manually</a></td>
    </tr>
  </tbody>
</table>
<a href="?correctionid={{correction.correctionid}}">Permalink</a>
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myury.library.viewtrackcorrection.js"></script>
{% endblock %}