{% extends 'base.twig' %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{shiburl}}css/planner.css" />
<style type="text/css">
.ui-contextmenu {z-index: 10000}
</style>
{% endblock %}
{% block content %}
<div id="notice" class="ui-state-highlight ui-helper-hidden">Waiting...</div>
<header id="content-header">
  <h3 id="a-manage-library"><a href="{{myury.makeURL(config,'NIPSWeb','manage_library')}}" title="Library Manager">Manage Library</a></h3>
  <h2>{{title}}</h2>
</header>
<div id="grid" class="transBG clearfix">

  <div id="bapswrapper" class="ui-widget">
    <div id="baps-channel-container" class="clearfix">
      {% for i in 0..2 %}
        <ul class="box width-1 height-2 baps-channel ui-widget-content" channel="{{i+1}}" id="baps-channel-{{i + 1}}">
          {% for track in tracks[i]['playlist']|keys %}
            <li id='item-{{i}}-{{track}}'>{{tracks[i]['playlist'][track]['name']}}</li>
          {% endfor %}
        </ul>
      {% endfor %}
  
      <div id="resource-add-container" class="box width-2 height-2 ui-widget ui-widget-content">
        <div id="resource-add-header" class="ui-widget-header">
          {% include 'NIPSWeb/res_selector.twig' %}
          <span id="res-loading" class="ui-state-highlight ui-helper-hidden">Loading...</span>
          <br>
          <input type="text" placeholder="Filter by artist..." id="res-filter-artist" class="ui-widget-content ui-helper-hidden" />
          <input type="text" placeholder="Filter by track..." id="res-filter-track" class="ui-widget-content ui-helper-hidden" />
          <input type="text" placeholder="Filter by name..." id="res-filter-name" class="ui-widget-content ui-helper-hidden" />
        </div>
        <ul class="box baps-channel ui-widget-content" id="baps-channel-res" channel="res">
        </ul>
      </div>
    
    </div>

    <div id="baps-channelaction-container"  class="clearfix">
      {% set channels = [1, 2, 3, 'res'] %}
      {% for channel in channels %}
        <div class='box baps-channel channel-footer ui-widget-header{% if channel == 'res' %} width-2 library-footer'>Library{% else %} width-1'>Channel {{channel}}{% endif %}
          <br>
          <button class='play' id='ch{{channel}}-play' onclick='previewPlay("{{channel}}")'></button>
          <button class='pause' id='ch{{channel}}-pause' onclick='previewPause("{{channel}}")'></button>
          <button class='stop' id='ch{{channel}}-stop' class='ui-state-disabled' onclick='previewStop("{{channel}}")'></button><br>
          <div id='progress-bar-{{channel}}'></div>
          <label id='ch{{channel}}-elapsed'>--:--</label> / 
          <label id='ch{{channel}}-duration'>--:--</label>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div id="footer-tips" class="ui-state-highlight ui-helper-hidden"></div>

</div>

        <script type="text/javascript">
  $(document).ready(function() {
    initialiseUI();
            {% for i in 0..3 %}
                initialisePlayer('{{i}}');
            {% endfor %}
              });
          </script>
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/jquery.ui-contextmenu.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/ul-sort.js"></script>
<script type="text/javascript" src="{{baseurl}}js/nipsweb.live.js"></script>
<script type="text/javascript" src="{{baseurl}}js/nipsweb.librarypane.js"></script>
{% endblock %}