{% extends 'base.twig' %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/planner.css" />
{% endblock %}
{% block content %}
<div id="notice" class="alert alert-warning">Preparing show plan...</div>
{# <div id="head-icons"><button class="btn-feedback">Send Feedback</button>&nbsp;<button class="btn-help"></button><button class="btn-logout" onclick="window.location = '/portal/redir_out.php'"></button></div> #}
<header id="content-header">
  <h3 id="a-manage-library"><a href="{{myury.makeURL(config,'NIPSWeb','manage_library')}}" title="Library Manager">Manage Library</a></h3>
  <h2>{{title}}</h2>
</header>
<div id="grid" class="transBG clearfix">

  <div id="bapswrapper">
    <div id="baps-channel-container" class="clearfix">
      {% for i in 0..2 %}
        <ul class="box col-md-3 col-sm-3 col-xs-3 height-2 baps-channel" channel="{{i+1}}" id="baps-channel-{{i + 1}}">
          {% for track in tracks[i] %}
            <li id='{% if track['managedid'] is defined %}ManagedDB{% else %}{{track['album']['recordid']}}{% endif %}-{{track['trackid']}}' type='{{track['type']}}'
                {% if track['managedid'] is defined %}managedid='{{track['managedid']}}'{% endif %}
                {% if track['type'] == 'aux' %}auxid='{{track['auxid']}}'{% endif %}
                length='{{track['length']}}' timeslotitemid='{{track['timeslotitemid']}}'
                weight='{{track['weight']}}' channel='{{track['channel']}}'
                title='{{track['title']}} ({{track['length']}})'
                >{{track['title']}}{% if track['artist'] is defined %} - {{track['artist']}}{% endif %}</li>
          {% endfor %}
        </ul>
      {% endfor %}

      <div id="resource-add-container" class="box col-md-3 col-sm-3 col-xs-3 height-2">
        <div id="resource-add-header">
          {% include 'NIPSWeb/res_selector.twig' %}
          <br>
          <input type="text" placeholder="Filter by artist..." id="res-filter-artist" class="ui-helper-hidden" />
          <input type="text" placeholder="Filter by track..." id="res-filter-track" class="ui-helper-hidden" />
          <input type="text" placeholder="Filter by name..." id="res-filter-name" class="ui-helper-hidden" />
        </div>
        <ul class="box baps-channel" id="baps-channel-res" channel="res">
        </ul>
      </div>

    </div>

    <div id="baps-channelaction-container"  class="clearfix">
      {% set channels = [1, 2, 3, 'res'] %}
      {% for channel in channels %}
        <div class='box col-md-3 col-sm-3 col-xs-3 baps-channel channel-footer {% if channel == 'res' %} library-footer'>Library{% else %}'>Channel {{channel}}{% endif %}
          <span id='baps-channel-{{channel}}-total' title="Total time of all tracks in this channel">(00:00)</span>
          <br>
          <div class="btn-group">
              <button type='button' class='play btn btn-default' id='ch{{channel}}-play' disabled="disabled"><span class="glyphicon glyphicon-play"></span></button>
              <button type='button' class='pause btn btn-default' id='ch{{channel}}-pause' disabled="disabled"><span class="glyphicon glyphicon-pause"></span></button>
              <button type='button' class='stop btn btn-default' id='ch{{channel}}-stop' disabled="disabled" class='ui-state-disabled'><span class="glyphicon glyphicon-stop"></span></button>
          </div>
          <br>
          <div id='progress-bar-{{channel}}'></div>
          <label id='ch{{channel}}-elapsed'>--:--</label> /
          <label id='ch{{channel}}-duration'>--:--</label>
        </div>
      {% endfor %}
    </div>

</div>

{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/vendor/jquery.ui-contextmenu.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/ul-sort.js"></script>
<script type="text/javascript" src="{{baseurl}}js/nipsweb.player.js"></script>
<script type="text/javascript" src="{{baseurl}}js/nipsweb.librarypane.js"></script>
<script type="text/javascript" src="{{baseurl}}js/nipsweb.init.js"></script>
{% endblock %}
