<!DOCTYPE html>
<html>
  <head>
{% include 'parts/base_head.twig' %}
      <link rel="stylesheet" type="text/css" href="{{baseurl}}css/planner.css" />
      <style>html,body{background: none; box-shadow: none; width: 550px; min-width: 550px; height: auto;}</style>
    </head>
    <body>
  {% include 'NIPSWeb/res_selector.twig' %}
        <div id="central-container" class="res-container hidden">
          <p><br>You can upload track to the central database by dragging them into the box below. I'll try to analyse the file and if I can figure out what it is, then I'll upload it for you. If the track is of poor quality then I will not allow tracks to be uploaded.</p>
          <div id="central-dragdrop" class="well">
            Drag MP3 files here to upload
            <div class="alert alert-warning" id="central-status">Getting set up...</div>
          </div>
          <br>
          <div id="central-result" class="result-container"></div>
          <br>
          <div id="track-manual-entry" class="hidden panel panel-default">
              <div class="panel-heading">Track Listing</div>
              <div class="panel-body">
                <p>Please enter/check the details for this track manually and click "Save using below metadata" above.</p>
                <div class="alert alert-warning form-error" id="central-status" style="display:none;"></div>
                <form>
                  <div class="form-group">
                    <label for="track-manual-entry-title">Title:</label>
                    <input type="text" id="track-manual-entry-title" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="track-manual-entry-artist">Artist:</label>
                    <input type="text" id="track-manual-entry-artist" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="track-manual-entry-album">Album:</label>
                    <input type="text" id="track-manual-entry-album" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="track-manual-entry-position">Track Number:</label>
                    <input type="number" id="track-manual-entry-position" class="form-control">
                  </div>
                  <div class="checkbox">
                    <label for="track-manual-entry-explicit"><input type="checkbox" id="track-manual-entry-explicit"> <strong>Explicit?</strong></label>    
                  </div>
                </form>
              </div>
          </div>

        </div>
        <div id="managed-container" class="res-container hidden">Managed playlists are controlled using <a href="/itones/" target="_blank">Campus Playout Manager</a>. Entering them there also adds them to the wonderful Campus Jukebox</div>
        <div id="res-container" class="res-container hidden">
          <p><br>You can upload track to this resource library by dragging them into the box below. Tracks uploaded must not return a match against our music analysis software.</p>
          <div id="res-dragdrop" class="well">Drag WAV/MP3 files here to upload<div class="alert alert-warning" id="res-status">Getting set up...</div></div>
          <div id="res-result" class="result-container"></div>
        </div>
        <script type="text/javascript">window.memberid = parseInt({{memberid}});</script>
  {% include 'parts/base_foot.twig' %}
      <script type="text/javascript" src="{{baseurl}}js/vendor/jquery.filedrop.js"></script>
      <script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
      <script type="text/javascript" src="{{baseurl}}js/vendor/bootstrap-datetimepicker.min.js"></script>
      <script type="text/javascript" src="{{baseurl}}js/nipsweb.managelibrary.js"></script>
      </body></html>
