{#
A stripped down version of the show planner, used for demonstrating content.
Edit features are disabled.
#}
{% extends 'base.twig' %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{shiburl}}css/planner.css" />
<style type="text/css">
.ui-contextmenu {z-index: 10000}
.box.width-1 {width: calc(33% - 10px)}
</style>
{% endblock %}
{% block content %}
<header id="content-header">
  <h2>{{title}}</h2>
</header>
<div id="grid" class="transBG clearfix">

  <div id="bapswrapper" class="ui-widget">
    <div id="baps-channel-container" class="clearfix">
      {% for i in 0..2 %}
        <ul class="box width-1 height-2 baps-channel ui-widget-content" channel="{{i+1}}" id="baps-channel-{{i + 1}}" playonload="1">
          {% for track in tracks[i] %}
            <li id='{% if track['managedid'] is defined %}ManagedDB{% else %}{{track['album']['recordid']}}{% endif %}-{{track['trackid']}}' type='{{track['type']}}'
                {% if track['managedid'] is defined %}managedid='{{track['managedid']}}'{% endif %}
                {% if track['type'] == 'aux' %}auxid='{{track['auxid']}}'{% endif %}
                length='{{track['length']}}' timeslotitemid='{{track['timeslotitemid']}}'
                weight='{{track['weight']}}' channel='{{track['channel']}}'
                >{{track['title']}}{% if track['artist'] is defined %} - {{track['artist']}}{% endif %}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    
    </div>
    
    <div id="baps-channelaction-container"  class="clearfix">
      {% set channels = {1: 'News', 2: 'Speech', 3: 'Music'} %}
      {% for channel in channels|keys %}
        <div class='box baps-channel channel-footer ui-widget-header width-1'>{{channels[channel]}}
          <span id='baps-channel-{{channel}}-total' title="Total time of all tracks in this channel">(00:00)</span>
          <br>
          <button class='play' id='ch{{channel}}-play' onclick='previewPlay({{channel}})'></button>
          <button class='pause' id='ch{{channel}}-pause' onclick='previewPause({{channel}})'></button>
          <button class='stop' id='ch{{channel}}-stop' class='ui-state-disabled' onclick='previewStop({{channel}})'></button><br>
          <div id='progress-bar-{{channel}}'></div>
          <label id='ch{{channel}}-elapsed'>--:--</label> / 
          <label id='ch{{channel}}-duration'>--:--</label>
        </div>
      {% endfor %}
    </div>
    
  </div>
  
  <div id="footer-tips" class="ui-state-highlight ui-helper-hidden"></div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    NIPSWeb.writable = false;
    initialiseUI();
  {% for i in 1..3 %}
      initialisePlayer({{i}});
  {% endfor %}
    });
</script>
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/jquery.ui-contextmenu.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/ul-sort.js"></script>
<script type="text/javascript" src="{{baseurl}}js/nipsweb.player.js"></script>
{% endblock %}