<select id="res-type-sel">
  <option disabled="disabled" selected="selected">Select a library...</option>
  <option value="central">Central Music Library</option>

  {% if not (reslists['managed'] is empty and reslists['auto'] is empty) %}
    <option disabled="disabled">Playlists</option>
    {% for list in reslists['managed'] %}
    <option value='managed-{{list['playlistid']}}'>{{list['title']}}</option>
    {% endfor %}
    {% for list in reslists['auto'] %}
    <option value='auto-{{list['playlistid']}}'>{{list['title']}}</option>
    {% endfor %}
  {% endif %}

  {% if not reslists['aux'] is empty %}
    <option disabled="disabled">Resources</option>
    {% for list in reslists['aux'] %}
    <option value='aux-{{list['managedid']}}'>{{list['title']}}</option>
    {% endfor %}
  {% endif %}

  <option disabled="disabled">Personal Playlists</option>
  {% for list in reslists['user'] %}
  <option value='user-{{list['folder']}}'>{{list['title']}}</option>
  {% endfor %}
</select>
