{% extends 'base.twig' %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/sis.css?version={{version}}">
{% endblock %}
{% block content %}
	<header id="content-header">
		<h2>Studio Information Service</h2>
	</header>
	<div id="grid" class="transBG clearfix"></div>
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/sis.js?version={{version}}"></script>
<script type="text/javascript">
var sis = new SIS(document.getElementById('grid'));
</script>
{% for module in modules %}
	<script type="text/javascript" src="{{baseurl}}js/sis.{{module}}.js?version={{version}}"></script>
{% endfor %}
{% endblock %}
