{% extends 'base.twig' %}
{% block head %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/sis.plugin.js"></script>
<link rel="stylesheet" type="text/css" href="{{shiburl}}css/sis.css" />
{% endblock %}
{% block content %}

	<header id="content-header">
		<h2>{{title}}</h2>
	</header>

	<div id="grid" class="transBG clearfix">
	    <div class="pluginpane">
	    	{% for plugin in plugins %}
	    	<div class="plugin accord{% if not plugin.startOpen %} accordClose{% endif %}">
	                    <h3 id="plugin_header_{{ plugin.name }}" class="pluginhead">{{ plugin.title }}</h3>
	                    <div id="plugin_body_{{ plugin.name }}" class="pluginbody">
	                        {% include ('SIS/plugins/'~plugin.name~'.twig') %}
	                    </div>
			</div>
			{% endfor %}
		</div>

		<div class="maincontainer">
			<div id="tabs" class="clearfix">
				<ul>
					{% for tab in tabs %}
						<li><a href="#tabs-{{ loop.index }}">{{ tab.title }}</a></li>
					{% endfor %}
				</ul>
				{% for tab in tabs %}
					<div id="tabs-{{ loop.index }}" style="margin-top: .5em;">
						{{ tab.template }}
	                    {# {% include tab.template %} #}
	                </div>
				{% endfor %}
			</div>
	    </div>
	</div>
{% endblock %}