<title>{{ title }} | {{config.long_name}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="referrer" content="default">
<meta content='width=device-width, height=device-height, initial-scale=1, target-densitydpi=1' name='viewport'>

<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/vendor/bootstrap.min.css">
<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/style.css">

<script type="text/javascript" src="{{baseurl}}js/vendor/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/bootstrap.min.js"></script>
