<title>{{ title }} | University Radio York</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/normalise.css">
<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/themes/ury-purple/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{shiburl}}css/main.css">
<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/style.css">

<script type="text/javascript" src="{{shiburl}}js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="{{baseurl}}{% if not rewriteurl %}?action={% endif %}config.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myury.core.js"></script>
<script type="text/javascript" src="{{shiburl}}js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{{shiburl}}js/jquery-ui-init.js"></script>
<script type="text/javascript" src="{{baseurl}}js/jquery.themeswitcher.min.js"></script>
