<title>{{ title }} | University Radio York</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/normalise.css">
<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/themes/ury-purple/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{shiburl}}css/main.css">
<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/style.css">

