<title>{{ title }} | University Radio York</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="{{shiburl}}js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="{{shiburl}}js/jquery-ui-1.10.1.custom.min.js"></script>
<script type="text/javascript" src="{{shiburl}}js/jquery-ui-themeswitcher.js"></script>
<script type="text/javascript" src="{{shiburl}}js/jquery-ui-init.js"></script>
<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/ury-purple/jquery-ui-1.10.1.custom.min.css">
<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/jquery-ui-themeswitcher.css">
<link rel="stylesheet" type="text/css" href="{{shiburl}}css/main.css">
<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/style.css">