<title>{{ title }} | {{config.long_name}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/normalise.css">
<link rel="Stylesheet" type="text/css" href="{{shiburl}}css/themes/ury-purple/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/main.css">
<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/style.css">

<script type="text/javascript" src="{{shiburl}}js/jquery-2.0.2.min.js"></script>
