<title>{{ title }} | {{config.long_name}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/normalise.css">-->
<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/vendor/themes/ury-purple/jquery-ui.css">
<!--<link rel="stylesheet" type="text/css" href="{{baseurl}}css/main.css">-->
<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/style.css">
<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/vendor/bootstrap.min.css">
<link rel="Stylesheet" type="text/css" href="{{baseurl}}css/vendor/bootstrap-theme.min.css">

<script type="text/javascript" src="{{baseurl}}js/vendor/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/vendor/bootstrap.min.js"></script>
