{% extends 'stripe.twig' %}

{% block stripecontent %}
<figure class="webcam-focus-stream-container" id="webcam-stream-{{live.streamid}}">
      <img src="{{live.liveurl}}" class="webcam-stream" />
      <figcaption>{{live.streamname}}</figcaption>
    </figure>
<div class="webcam-focus-grid-container">
  {% for stream in streams %}
    <figure class="webcam-stream-container" id="webcam-stream-{{stream.streamid}}">
      <img src="{{stream.liveurl}}" class="webcam-stream" />
      <figcaption>{{stream.streamname}}</figcaption>
    </figure>
  {% endfor %}
</div>
<div class="ui-state-highlight" id="webcam-time-counter">
  <span class="ui-icon ui-icon-clock fleft"></span>You've been watching the webcams for <span id="webcam-time-counter-value">not very long</span>
</div>
{% endblock %}

{% block foot %}
{{ parent() }}
{% include 'Webcam/tracker.twig' %}
{% endblock %}
