{% extends 'stripe.twig' %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{baseurl}}css/myradio.webcamfocus.css">
{% endblock %}

{% block stripecontent %}

{% if live %}
  <figure class="webcam-focus-stream-container" id="webcam-stream-{{live.streamid}}">
    <img id="webcam-focus-live" src="{{live.liveurl}}" class="webcam-stream" />
    <figcaption>{{live.streamname}}</figcaption>
  </figure>
  <div class="webcam-focus-grid-container">
    {% for stream in streams %}
      <figure class="webcam-stream-container" id="webcam-stream-{{stream.streamid}}">
        <img id="{{stream.streamname}}" src="{{stream.liveurl}}" class="webcam-stream" />
        <figcaption>{{stream.streamname}}</figcaption>
        <script>
          var img = document.getElementById('{{stream.streamname}}');
          img.addEventListener('click', (e) => {
            document.getElementById('webcam-focus-live').setAttribute('src', '{{stream.liveurl}}');
            document.querySelector('#webcam-focus-live + figcaption').innerText = '{{stream.streamname}}';
          });
        </script>
      </figure>
    {% endfor %}
  </div>
  <div class="alert alert-info" id="webcam-time-counter">
    <span class="glyphicon glyphicon-time"></span> You've been watching the webcams for <span id="webcam-time-counter-value">(loading).</span>
  </div>
{% else %}
  <div class="alert alert-warning" id="webcam-time-counter">
    <span class="glyphicon glyphicon-facetime-video"></span> No webcams have been setup yet. Please check the database.</span>
  </div>
{% endif %}
{% endblock %}

{% block foot %}
{{ parent() }}
{% include 'Webcam/tracker.twig' %}
{% endblock %}
