{% extends 'stripe.twig' %}

{% block stripecontent %}
<div class="webcam-grid-container">
  {% for stream in streams %}
    <figure class="webcam-stream-container" id="webcam-stream-{{stream.streamid}}">
      <img id="{{stream.streamname}}" src="{{stream.liveurl}}" class="webcam-stream" />
      <figcaption>{{stream.streamname}}</figcaption>
      <script>
        var img = document.getElementById('{{stream.streamname}}');
        setInterval(function (image, source) {
            image.setAttribute('src', source + '?_=' + Date.now());
        }, 1000, img, '{{stream.liveurl}}');
      </script>
    </figure>
  {% endfor %}
</div>
<div class="alert alert-info" id="webcam-time-counter">
  <span class="glyphicon glyphicon-time"></span> You've been watching the webcams for <span id="webcam-time-counter-value">not very long</span>
</div>
{% endblock %}

{% block foot %}
{{ parent() }}
{% include 'Webcam/tracker.twig' %}
{% endblock %}
