{% extends 'form.twig' %}

{% block stripecontent %}
<p>You are allocating Timeslots for a Season of <strong>{{frm_custom.name}}</strong> in the current term.</p>
<div class="well">
{{frm_custom.description|raw}}
</div>
<ul id="allocate_credits">
{% for credit in frm_custom.credits %}
<li>{{credit.type_name}}: {{credit.name}}</li>
{% endfor %}
</ul>
{{ parent() }}
<div id="schedule-preview"></div>
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/vendor/moment.min.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myradio.schedule.view.js"></script>
<script type="text/javascript" src="{{baseurl}}js/myradio.scheduler.allocate.js"></script>
{% endblock %}
