{% extends 'form.twig' %}

{% block stripecontent %}
<p>You are allocating Timeslots for a Season of <strong>{{frm_custom.name}}</strong> in the current term.</p>
<div class="ui-widget-content">
{{frm_custom.description|raw}}
</div>
<ul id="allocate_credits">
{% for credit in frm_custom.credits %}
<li>{{credit.type_name}}: {{credit.name}}</li>
{% endfor %}
</ul>
{{ parent() }}
<iframe src="{{ config.schedule_url }}" style="width:100%; height: 500px"></iframe>
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myury.scheduler.allocate.js"></script>
{% endblock %}
