{% extends 'form.twig' %}

{% block stripecontent %}
{% if frm_custom.current_term is null %}
<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>Season applications are currently <strong>closed</strong>. You can apply for a season 28 days before the start of term.</div>
{% else %}
<h2>Apply for a New Season</h2>
<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> You are applying for a season in Term {{frm_custom.current_term}}</div>
<p>Fill out the form below to apply for a new season of {{frm_custom.show_title}}. Please provide at least three possible times for your show, and don't tick a week if you know you can't do it!</p>
<p>In order to have a show scheduled, you and everyone credited on your must complete this Studio Training Refresher quiz: <a href="https://goo.gl/forms/YNpbfWK4Kqeuipw12" title="Studio Training Refresher Quiz" target="_blank">https://goo.gl/forms/YNpbfWK4Kqeuipw12</a></p>
{{ parent() }}
{% endif %}
{% endblock %}

{% block foot %}
{{ parent() }}
<script type="text/javascript" src="{{baseurl}}js/myradio.scheduler.createseason.js"></script>
{% endblock %}
