{% extends 'stripe.twig' %}
{% set cyear = 0 %}
{% block stripecontent %}
  <h2>{{profile_name}}</h2>
  <div id="timelineContainer" class="clearfix">
    <div class="timelineToggle"><a class="expandAll">+ expand all</a></div>
  {% for event in timeline %}
    {% if event.timestamp | date('Y') != cyear %}
    {% set cyear = event.timestamp | date('Y') %}
    <h2 class="timelineMajorMarker">{{ cyear }}</h2>
    {% endif %}
    <dl class="timelineMinor">
      <dt id="{{ loop.index }}">
        <a>{{event.timestamp | date('j/m/Y')}}</a>
      </dt>
      <dd class="timelineEvent" id="{{ loop.index }}EX">
        <img src="{{event.photo}}" width="150">{{profile_name}} {{event.message}}
      </dd>
    </dl>
  {% endfor %}
  </div>
{% endblock %}

{% block foot %}
  {{ parent() }}
  <script src="{{baseurl}}js/vendor/Timeliner.js"></script>
  <script>$.timeliner({baseSpeed:100});</script>
{% endblock %}

{# http://www.technotarek.com/timeliner/ #}
