{% extends 'stripe.twig' %}
{% import 'macros.twig' as MyRadio %}
{% block stripecontent %}
<div id="profile">
{# @todo: put the user data into a nice format, implementation depends on sending in array or individual variables #}
  <table width="100%">
    <tr>
      <td colspan="2">
        {% if editurl %}{{editurl | raw}}{% endif %}
        {% if impersonateurl %}&nbsp;|&nbsp;&nbsp;{{impersonateurl | raw}}{% endif %}
        {% if lockurl %}&nbsp;|&nbsp;&nbsp;{{lockurl | raw}}{% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Name:</b></td>
      <td>{{user.fname}} {{user.sname}}</td>
      <td rowspan="15" style="vertical-align:top"><img src="{{user.photo}}" width="300"></td>
    </tr>
    {% if user.college is defined %}
      <tr>
        <td><b>College:</b></td>
        <td>{{user.college}}</td>
      </tr>
    {% endif %}
    {% if user.phone != '' %}
      <tr>
        <td><b>Phone:</b></td>
        <td>{{user.phone}}</td>
      </tr>
    {% endif %}
    {% if user.bio != '' %}
      <tr>
        <td><b>Bio:</b></td>
      </tr>
      <tr>
        <td colspan="2">{{user.bio | raw}}</td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    {% if user.eduroam != '' %}
      <tr>
        <td><b>Uni Account:</b></td>
        <td>{{user.eduroam}}</td>
      </tr>
    {% endif %}
    <tr>
      <td><b>Emails Go To:</b></td>
      <td><a href="mailto:{{user.email ?: user.public_email}}">{{user.email ?: user.public_email}}</a></td>
    </tr>
    {% if user.local_alias != '' %}
      <tr>
        <td><b>Official Email:</b></td>
        <td>{{user.local_alias}}</td>
      </tr>
    {% endif %}
    {% if user.local_name != '' %}
      <tr>
        <td><b>Server Account:</b></td>
        <td>{{user.local_name}}</td>
      </tr>
    {% endif %}
    {% if user.receive_email is defined %}
    <tr>
      <td><b>Receive Email:</b></td>
      <td>
        {% if user.receive_email %}
          Yes
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if user.locked is defined %}
    <tr>
      <td><b>Account Locked:</b></td>
      <td>
        {% if user.locked %}
          Yes
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if user.last_login is defined %}
    <tr>
      <td><b>Last Login:</b></td>
      <td>
        {% if user.last_login %}
          {{ user.last_login|date("j/n/Y H:i") }}
        {% else %}
          Never
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    {% if user.payment is defined and can_mark_payments %}
    <tr>
      <td valign="top"><b>Paid:</b></td>
      <td>
        <ul id="payment">
        {% for paid in user.payment %}
          <li>
            {{ paid.year }} : <em>&pound;{{ paid.paid }}</em>
          </li>
        {% else %}
          <li>No Payment Data Available</li>
        {% endfor %}
        </ul>
        {% if (can_mark_payments and not user.is_currently_paid) %}
        <form type="post" action="{{MyRadio.makeURL(config, 'Profile', 'markPaid')}}">
          <input type="hidden" name="memberid" value="{{user.memberid}}">
          <input type="submit" value="Mark Paid">
        </form>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if user.officerships %}
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
        <td valign="top"><b>Officerships:</b></td>
        <td>
          <ul id="officerships">
          {% for office in user.officerships %}
            {% if office.till_date is null %}
              <li class="currentOffice">
                {{ office.officer_name }} ({{ office.from_date }} - present)
              </li>
            {% else %}
              <li class="oldOffice">
                {{ office.officer_name }} ({{ office.from_date }} - {{ office.till_date }})
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top"><b>Training:</b></td>
      <td>
        <ul id="training">
        {% for train in user.training %}
          <li>{{train.title}} on {{train.awarded_time|date("j/n/Y")}}
            <em>by <a href="{{train.awarded_by.url}}">{{train.awarded_by.value}}</a>
              {% if train.revoked_by %}
                , revoked on {{train.revoked_time|date("j/n/Y")}} by
                <a href="{{train.revoked_by.url}}">{{train.revoked_by.fname}} {{train.revoked_by.sname}}</a>
              {% endif %}
            </em>
          </li>
        {% else %}
          <li>No Training Data Available</li>
        {% endfor %}
        </ul>
        {% if user.training_avail %}
        <form action="{{MyRadio.makeURL(config, 'Profile', 'addTrainingStatus')}}"
              method="POST">
        <select name="status_id" id="status_id">
          {% for train in user.training_avail %}
          <option value="{{train.status_id}}">{{train.title}}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="memberid" value="{{user.memberid}}">
        <input type="submit" value="Add">
        </form>
        {% endif %}
      </td>
    </tr>
  </table>
</div>
{% endblock %}
