{#
 Using date as an input type is currently not recommended (as of 25/06/2012)
#}
{% if display_labels %}<label for="{{frm_name}}-{{field.name}}">{{field.label}}</label>{% endif %}
<input type="text" class="{{field.class}}{% if field.required %} required{% endif %} dateITA"
       value="{{field.value}}" name="{{frm_name}}-{{sfieldname}}" id="{{frm_name}}-{{field.name}}"
       {% if not field.enabled %} readonly="readonly"{% endif %} placeholder="Day/Month/Year" />
<span class="myuryfrmhint" id="{{frm_name}}-{{field.name}}-hint">{{field.explanation | raw}}</span>