<label for="{{name}}-{{field.name}}">{{field.label}}</label>
<input type="checkbox" class="{{field.class}}{% if field.required %} required{% endif %}"
       name="{{name}}-{{field.name}}"
       id="{{name}}-{{field.name}}"
       {% if field.options.checked is defined and field.options.checked %} checked="checked"{% endif %} />
<span class="myuryfrmhint" id="{{name}}-{{field.name}}-hint">{{field.explanation | raw}}</span>