<fieldset>
<legend>{{field.label}}</legend>
<div class="myuryfrmhint" id="{{name}}-{{field.name}}-hint">{{field.explanation | raw}}</div>
{% for option in field.options %}
<label for="{{name}}-{{fieldname}}-{{option.value}}">
<input type="radio" name="{{name}}-{{field.name}}" id="{{name}}-{{field.name}}-{{option.value}}"
        class="{{field.class}} radio{% if field.required %} required{% endif %}"
        value="{{option.value}}"{% if field.value == option.value %} checked="checked"{% endif %}
        {% if option.disabled or field.disabled %} disabled="disabled"{% endif %} />
{{option.text}}</label>
  {% endfor %}
</fieldset>