<label for="{{name}}-{{field.name}}">{{field.label}}</label>
<select name="{{name}}-{{field.name}}" id="{{name}}-{{field.name}}"
        class="{{field.class}}{% if field.required %} required{% endif %}">
  {% for option in field.options %}
  <option value="{{option.value}}"{% if field.value == option.value %} selected="selected"{% endif %}
{% if option.disabled %} disabled="disabled"{% endif %}>{{field.options.option.text}}</option>
  {% endfor %}
</select>
<span class="myuryfrmhint" id="{{name}}-{{field.name}}-hint">{{field.explanation | raw}}</span>