{% if display_labels %}<label for="{{frm_name}}-{{field.name}}">{{field.label|raw}}</label>{% endif %}
<input type="checkbox" class="{{field.class}}{% if field.required %} required{% endif %}"
       name="{{frm_name}}-{{sfieldname}}"
       id="{{frm_name}}-{{field.name}}"
       {% if field.options.checked is defined and field.options.checked %} checked="checked"{% endif %} />
<span class="myradiofrmhint" id="{{frm_name}}-{{field.name}}-hint">{{field.explanation | raw}}</span>