<fieldset>
  <legend>{{field.label}}</legend>
  <div class="myuryfrmhint" id="{{name}}-{{field.name}}-hint">{{field.explanation | raw}}</div>
{% for item in field.options %}
  <label for="{{name}}-{{item.name}}">{{item.label}}</label>
  <input type="checkbox" class="{{item.class}}{% if item.required %} required{% endif %}"
         value="{{item.value}}" name="{{name}}-{{field.name}}-{{item.name}}"
         id="{{name}}-{{field.name}}-{{item.name}}"
       {% if item.options.checked is defined and item.options.checked %} checked="checked"{% endif %} />
  <span class="myuryfrmhint" id="{{name}}-{{field.name}}-{{item.name}}-hint">{{item.explanation | raw}}</span>
{% endfor %}
</fieldset>