{% set thisfield, display_labels = field, false %}<table class="repeaterset-container" id="{{thisfield.name}}">
  <thead>
    <tr>
    {% for field in thisfield.options %}
        <th>{{field.label}}</th>
    {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in range(0, thisfield.options[0].value|length) %}
        <tr>
    {% for field in thisfield.options %}
      {% set sfieldname = field.name ~ '[]' %}
      {% set field = field|merge({'value': field.value[i], 'name': field.name~i}) %}
            <td><div id="{{frm_name}}-{{field.name}}-container" class="{{field.class}}">
        {% include ('FormFields/FieldType_'~field.type~'.twig') %}
                  </div></td>
    {% endfor %}
                  <td><div class="myury-form-remove-row-container"><span class="ui-icon ui-icon-trash"></span></div></td>
              </tr>
              {% endfor %}
          </table>
<a href="javascript:" title="Add another row to this set" id="add-to-{{thisfield.name}}"
   class="myury-form-add-row-button" nextvalue="{{thisfield.options[0].value|length}}">Add Another...</a>