{% if field.options.progress and not myury_form_file_progress %}
<input type="hidden" name="UPLOAD_IDENTIFIER"
       id="UPLOAD_IDENTIFIER" value="{{field.options.progress_id}}">
  {% set myury_form_file_progress = true %}
{% endif %}
{% if display_labels %}<label for="{{frm_name}}-{{field.name}}">{{field.label}}</label>{% endif %}
<input type="file" class="{{field.class}}{% if field.required %} required{% endif %}"
       value="{{field.value}}" name="{{frm_name}}-{{sfieldname}}"
       id="{{frm_name}}-{{field.name}}"
       {% if not field.enabled %} readonly="readonly"{% endif %}/>
<span class="myradiofrmhint" id="{{frm_name}}-{{field.name}}-hint">{{field.explanation | raw}}</span>
