{#
This "input" uses a mixture of custom CSS3 checkbox styling and drag-drop checkbox selection
to enable selecting a time range within a week.

The initial plan is to use it for banner campaigns, but if it turns out to work well,
it *could* replace the time selection for Season applications.

Each "box" is a checkbox, styled so that it looks like a filled in box when checked. Well, the label for a checkbox.
As such, each individual one is its own input field, so putting it together server-side is confusing.

The format is 'giveninputname'-daynum-starttime, where starttime is seconds since midnight
e.g. mytimeselect-1-28800 is 8-8:30am Monday.
Yes, days start on 1. That's how the database is designed. I didn't do it.
This field is not designed to support being in a tabular set. Can you imagine how ugly that would look?

Times are arranged 7am-7am to be compatible with The URY Day.
Input values are expected to be with days relevant to midnight - the Template handles conversion.
#}
{% if display_labels %}<h3>{{field.label}}</h3>{% endif %}
<table class="myradiofrmfield myradiofrmfield-weeklycheck" id="{{frm_name}}-{{ field.name }}">
  {# Prepare the Header row #}
  <thead>
    <tr>
      <th>Day/Hour</th>
      {% for i in ((14..47)|merge(0..13)) %}
      <th class="hour">{{ i % 2 == 0 ? i/2 : "" }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {# Now do a row for each day #}
    {% set days = {1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday", 7: "Sunday"} %}
    {% for day in days|keys %}
    <tr>
      <th>{{ days[day] }}</th>
      {% for i in ((14..47)|merge(0..13)) %}
      {# Otherwise 0-7 at the end of the scale are for the previous day. Well the same.. you know what I mean. #}
      {% if i <= 13 %}
        {% if day == 7 %}{% set dayno = 1 %}{% else %}{% set dayno = day + 1 %}{% endif %}
      {% else %}
        {% set dayno = day %}
      {% endif %}
      <td>
        {% set timename = frm_name ~ '-' ~ field.name ~ '-' ~ day ~ '-' ~ (i*1800) %}
        {% set checked = false %}
        {% for schedule in field.value %}
          {% if schedule.day == dayno and schedule.start_time <= i*1800 and schedule.end_time >= i*1800 %}
            {% set checked = true %}
          {% endif %}
        {% endfor %}
        <input type="checkbox" name="{{timename}}" id="{{timename}}" class="myradiofrmfield myradiofrmfield-weeklycheck" {% if checked %}checked="checked"{% endif %}>
        <label for="{{timename}}" class="myradiofrmfield-weeklycheck">&nbsp;</label>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<span>{{ field.explanation }}</span>