{% set thisfield, display_labels = field, false %}
<table class="myuryfrm-repeaterset-container" id="{{thisfield.name}}">
  <thead>
    <tr>
    {% for field in thisfield.options %}
      <th>{{field.label}}</th>
    {% endfor %}
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
        {% for i in range(0, thisfield.options[0].value|length) %}
    <tr>
    {% for field in thisfield.options %}
      {% set sfieldname = field.name ~ '[]' %}
      {% set field = field|merge({'value': field.value[i], 'name': field.name~i, 'required': false}) %}
          {% if field.type != 9 %}
      {# Setting these on a select breaks it. I *should* just set if for artist/track/member respectively,
but for some reason the template doesn't rended when I do that. #}
          {% set field = field|merge({'options': field.options|merge({'artistname': field.options.artistname[i],
                                        'trackname': field.options.trackname[i],
                                        'membername': field.options.membername[i]})}) %}
          {% endif %}

      <td><div id="{{frm_name}}-{{field.name}}-container" class="{{field.class}}">
        {% include ('FormFields/FieldType_'~field.type~'.twig') %}
        </div></td>
    {% endfor %}
      <td><button type="button" class="myuryfrm-remove-row btn btn-link">Remove Item</button></td>
    </tr>
              {% endfor %}
</table>
<a href="javascript:" title="Add another row to this set" id="add-to-{{thisfield.name}}"
   class="myradio-form-add-row-button" nextvalue="{{thisfield.options[0].value|length+1}}">Add Another...</a>
