<input type="hidden" name="{{name}}-{{field.name}}" id="{{name}}-{{field.name}}" value="{{field.value}}" />
<label for="{{name}}-{{field.name}}-ui">{{field.label}}</label>
<input type="text" class="{{field.class}}{% if field.required %} required{% endif %} text member-autocomplete"
       name="{{name}}-{{field.name}}-ui" id="{{name}}-{{field.name}}-ui" value="{{field.options.membername}}"
       {% if not field.enabled %} readonly="readonly"{% endif %} />
<span class="myuryfrmhint" id="{{name}}-{{field.name}}-hint">{{field.explanation | raw}}</span>