<label for="{{name}}-{{field.name}}">{{field.label}}</label>
<textarea name="{{name}}-{{field.name}}" id="{{name}}-{{field.name}}"
        class="{{field.class}}{% if field.required %} required{% endif %}"
       {% if field.options.minlength is defined %} minlength="{{field.options.minlength}}"{% endif %}
       {% if field.options.maxlength is defined %} maxlength="{{field.options.maxlength}}"{% endif %}
       {% if not field.enabled %} readonly="readonly"{% endif %}>{{field.value}}</textarea>
<span class="myuryfrmhint" id="{{name}}-{{field.name}}-hint">{{field.explanation | raw}}</span>