<input type="hidden" name="{{frm_name}}-{{field.name}}{% if field.repeating %}[]{% endif %}" id="{{frm_name}}-{{field.name}}" value="{{field.value}}" />
<label for="{{frm_name}}-{{field.name}}-ui">{{field.label}}</label>
<input type="text" class="{{field.class}}{% if field.required %} required{% endif %} text member-autocomplete"
       name="{{frm_name}}-{{field.name}}-ui{% if field.repeating %}[]{% endif %}" id="{{frm_name}}-{{field.name}}-ui" value="{{field.options.membername}}"
       {% if not field.enabled %} readonly="readonly"{% endif %} />
<span class="myuryfrmhint" id="{{frm_name}}-{{field.name}}-hint">{{field.explanation | raw}}</span>