<fieldset>
  {% if display_labels %}<legend><h3>{{field.label}}</h3></legend>{% endif %}
  <div class="myradiofrmhint" id="{{frm_name}}-{{field.name}}-hint">{{field.explanation | raw}}</div>
{% for item in field.options %}
  <label for="{{frm_name}}-{{field.name}}-{{item.name}}">{{item.label}}
  <input type="checkbox" class="{{item.class}}{% if item.required %} required{% endif %}"
         name="{{frm_name}}-{{field.name}}-{{item.name}}"
         id="{{frm_name}}-{{field.name}}-{{item.name}}"
       {% if item.options.checked is defined and item.options.checked %} checked="checked"{% endif %}
       data-date-format="hh:mm" />
  </label>
  <span class="myradiofrmhint" id="{{frm_name}}-{{field.name}}-{{item.name}}-hint">{{item.explanation | raw}}</span>
{% endfor %}
  <br class="clear" />
  <a class="checkgroup-all" href="javascript:">Select All</a>&nbsp; | &nbsp;<a class="checkgroup-none" href="javascript:">Select None</a>
</fieldset>
