<table class="repeaterset-container">
  <thead>
    <tr>
    {% for subfield in field.options %}
        <th>{{subfield.label}}</th>
    {% endfor %}
    </tr>
  </thead>
    {% for subfield in field.options %}
      {% if field.repeating %}{% set sfieldname = field.name ~ '[]' %}{% else %}{% set sfieldname = field.name %}{% endif %}
    <div id="{{frm_name}}-{{field.name}}-container" class="{{field.class}}">
        {% include ('FormFields/FieldType_'~field.type~'.twig') %}
          {% if field.repeating %}
        <div class="formfield-add-link"><a href="javascript:" id="{{frm_name}}-{{field.name}}-repeater">Add another...</a></div>
        <input type="hidden" id="{{frm_name}}-{{field.name}}-counter" value="0" />
          {% endif %}
      </div>
      {% if myury_form_section_exists is defined %}
    </div>
      {% endif %}
    {% endfor %}
  </table>